p{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    text-transform: uppercase;
}
h2 {text-align: end;
background-color: hotpink;}

.destacados 
{color: greenyellow;
border: 5px grey solid;
background-color: indigo;}

.h5 {text-transform: capitalize;}

#caja { width: 200px;
border: 3px solid black;
background-color: blue;}

h1 {text-transform: lowercase;}